# Google OAuth 2.0 Client Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Configuración de Base de Datos (MySQL)
DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=fentribe
DB_USER=root
DB_PASS=root

# Configuración de Correo SMTP (PHPMailer)
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USER=info@femtribe.com.co
MAIL_PASS=TuPasswordCorreoAqui
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@femtribe.com.co
MAIL_FROM_NAME="FemTribe Runner"

# WhatsApp Business
WHATSAPP_BUSINESS_NUMBER=573104771933
WHATSAPP_MESSAGE_TEMPLATE="Hola, me interesa %s (SKU %s). ¿Disponible?"

# Pasarela de Pagos API Bancolombia / Wompi
BANCOLOMBIA_WOMPI_ENV=sandbox
BANCOLOMBIA_WOMPI_PUBLIC_KEY=pub_test_QW1234567890abcdef
BANCOLOMBIA_WOMPI_PRIVATE_KEY=prv_test_ZX0987654321fedcba
BANCOLOMBIA_WOMPI_INTEGRITY_SECRET=test_integrity_SecretKey123
BANCOLOMBIA_WOMPI_EVENTS_SECRET=test_events_SecretKey123
BANCOLOMBIA_CLIENT_ID=
BANCOLOMBIA_CLIENT_SECRET=
